@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* ROOT VARIABLES */
:root {
    --color-primary: #5A75F8;
    --color-danger: #ff7782;
    --color-primary-variant: #0C2556;
    --color-white: #fff;
    --color-background: #F3F7F9;
    --color-info-light: #6980A2;
    --color-nav-background: #0F2D69;
    --padding-1: 1.2rem;
    --color-dark: #4B5968;
    --color-border-light: #D5DDE5;
    --avatar-size: 50px;

    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-info-dark: #7d8da1;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

}

/* GENERIC STYLES */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background-color: var(--color-background);
    color: var(--color-dark);
    user-select: none;
    overflow-x: hidden;
}


a {
    color: var(--color-info-light);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77;
}

p {
    font-size: 1rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}
.danger {
    color: var(--color-danger);
}
.warning {
    color: var(--color-warning);
}
.success {
    color: var(--color-success);
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 19rem auto;
    overflow: scroll;
    overflow-x: hidden;
    
}



/* ======== ASIDE ================ */

aside {
    height: 100vh;
    background-color: var(--color-primary-variant);
    position: sticky;
    top: 0;
}

aside  .top h2 {
    margin-top: 2rem;
    width: 100%;
    font-size: 1.7rem;
    color: var(--color-primary);
    text-align: center;
}

aside .top span {
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem 0 0 1.2rem;
}

aside .sidebar span {
    color: var(--color-white);
}

aside .sidebar a {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: var(--padding-1);
    transition: all 300ms ease;
}
aside .sidebar a:hover {
    font-weight: 700;
    color: white;
}
aside a.active {
    background-color: var(--color-nav-background);
}

aside .sidebar p {
    font-size: 1rem;
    font-weight: 500;
}

aside .sidebar div:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    left: 0;
    justify-content: center;
    gap: 1.3rem;
}

aside .sidebar div:last-child p {
    display: none;
}

aside .sidebar div:last-child span {
    transition: all 200ms ease-in-out;
}

aside .sidebar div:last-child a:hover span {
    font-size: 2.5rem;
}

/* ========= MAIN AREA ============== */

main {
    width: 96%;
    margin: 0 auto;
}

main .topbar {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 0.7rem 0.7rem 2rem;
    width: 100%;
    background-color: white;
    box-shadow: var(--box-shadow);
}

main .topbar .menu {
    display: none;
}

main .topbar .brand {
    padding: 0.6rem 3rem;
    background-color: var(--color-primary);
    color: white;
    border-radius: 40px;
}

main .topbar .brand h1 {
    font-size: 1.2rem;
    font-weight: 400;
}

main .topbar .right-side {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

main .topbar .search {
    padding: 0.6rem;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: var(--border-radius-1);
}

main .topbar .search input[type='text'] {
    background-color: transparent;
    width: 15rem;
    font-family: poppins;
    
}

main .topbar .right-side .icons {
    display: flex;
    gap: 1.5rem;
}

main .topbar .right-side .icons span {
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 0.6rem;
    border-radius: var(--border-radius-1);
}


/* =========== ANIMAION =========== */
.translate-sidebar {
    display: fixed;
    transform: translateX(0);
}


/* =============== MEDIA QUERIES ========== */


@media screen and (max-width:1200px) {

    .container {
        grid-template-columns: 15rem auto;
    }

    main .topbar {
        padding: 0.7rem;
    }
    
}


@media screen and (max-width:920px) {

    .container {
        grid-template-columns: 7rem auto;
    }

    /* SIDEBAR */
    aside {
        height: 100%;
    }

    aside .top h2 {
        visibility: hidden;
        justify-content: center;
    }

    aside .sidebar {
        margin-left: 0;
    }

    aside .sidebar a {
        justify-content: center;
    }

    aside .sidebar a span {
        transition: all 300ms ease;
    }

    aside .sidebar a p {
        display: none;
    }

    aside .sidebar a span:hover {
        font-size: 2rem;
    }

    aside .sidebar div:last-child {
        flex-direction: column;
        position: static;
        justify-content: end;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

 
    /* MAIN */
    
    main {
        width: 94%;
    }

    main .topbar {
        padding: 1rem;
    }

    main .topbar .brand {
        display: none;
    }

    main .topbar .right-side {
        width: 100%;
        justify-content: space-between;
    }
}


@media screen and (max-width:768px) {

    .container {
        grid-template-columns: 1fr;
    }

    /* SIDEBAR */
    aside {
        width: 45%;
        top: 0;
        z-index: 5;
        transform: translateX(-120%);
        transition: all 500ms ease;
    }

    aside .top span {
        display: inline;
        color: var(--color-white);
        font-size: 2rem;
        font-weight: bold;
        position: absolute;
        top: 2rem;
        right: 1rem;
        cursor: pointer;

        transition: all 200ms ease;
    }

    aside .top span:hover {
        transform: rotate(90deg);
    }

    aside .sidebar a {
        justify-content: start;
    }

    aside .sidebar a p {
        display: inline;
    }

    aside .sidebar div:last-child {
        align-items: start;
    }

    aside .sidebar div:last-child p {
        display: inline;
    }

    /* MAIN */

    main .topbar .menu {
        display: inline;
        cursor: pointer;
        font-weight: 800;
    }

    main {
        position: absolute;
        width: 100%;
        padding: 2rem 2%;
    }
    
}

@media screen and (max-width: 425px) {
    /* TOPBAR */
    .icons span {
        display: none;
    }
}




